# Data Quality Tests for Health and Nutrition Dataset
This notebook performs a series of data quality checks on the National Health and Nutrition Examination Survey dataset, specifically focused on vision and eye health surveillance data. The tests include:
- Missing values check
- Duplicate records check
- Range checks for numeric columns
- Unique value consistency for categorical columns
- Data type validation
Let's start by loading the data and performing the tests.

In [11]:
import pandas as pd

## Step 2: Load Data

In [23]:
file_path = 'data/National_Health_and_Nutrition_Examination_Survey_Vision_and_Eye_Health_Surveillance.csv'
data = pd.read_csv(file_path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10320 entries, 0 to 10319
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   10320 non-null  int64
 1   YearEnd                     10320 non-null  int64
 2   LocationAbbr                10320 non-null  object
 3   LocationDesc                10320 non-null  object
 4   DataSource                  10320 non-null  object
 5   Topic                       10320 non-null  object
 6   Category                    10320 non-null  object
 7   Question                    10320 non-null  object
 8   Response                    10320 non-null  object
 9   Age                         10320 non-null  object
 10  Gender                      10320 non-null  object
 11  RaceEthnicity               10320 non-null  object
 12  RiskFactor                  10320 non-null  object
 13  RiskFactorResponse          10320 non-null  object
 14  Data_Value_Unit             10320 non-null  object
 15  Data_Value_Type             10320 non-null  object
 16  Data_Value                  6328 non-null   float64
 17  Data_Value_Footnote_Symbol  3992 non-null   object
 18  Data_Value_Footnote         3992 non-null   object
 19  Low_Confidence_limit        6328 non-null   float64
 20  High_Confidence_Limit       6328 non-null   float64
 21  Numerator                   0 non-null      float64
 22  Sample_Size                 8639 non-null   float64
 23  LocationID                  10320 non-null  int64
 24  TopicID                     10320 non-null  object
 25  CategoryID                  10320 non-null  object
 26  QuestionID                  10320 non-null  object
 27  ResponseID                  10320 non-null  object
 28  DataValueTypeID             0 non-null      float64
 29  AgeID                       10320 non-null  object
 30  GenderID                    10320 non-null  object
 31  RaceEthnicityID             10320 non-null  object
 32  RiskFactorID                10320 non-null  object
 33  RiskFactorResponseID        10320 non-null  object
 34  GeoLocation                 0 non-null      float64
 35  Geographic Level            0 non-null      float64
dtypes: float64(8), int64(3), object(25)
memory usage: 2.8+ MB

## Data Quality Test 1: Missing Values Check
This test identifies columns with missing values and their percentage in the dataset.

In [24]:
def missing_values_check(df):
    missing_data = df.isnull().sum()
    missing_data_percent = (missing_data / len(df)) * 100
    missing_data_df = pd.DataFrame({'Missing Values': missing_data, 'Percent Missing': missing_data_percent})
    missing_data_df = missing_data_df[missing_data_df['Missing Values'] > 0].sort_values(by='Percent Missing', ascending=False)
    return missing_data_df

missing_data_df = missing_values_check(data)
missing_data_df

                            Missing Values  Percent Missing
Numerator                            10320       100.000000
DataValueTypeID                      10320       100.000000
GeoLocation                          10320       100.000000
Geographic Level                     10320       100.000000
Data_Value_Footnote_Symbol            6328        61.317829
Data_Value_Footnote                   6328        61.317829
Data_Value                            3992        38.682171
Low_Confidence_limit                  3992        38.682171
High_Confidence_Limit                 3992        38.682171
Sample_Size                           1681        16.288760

## Data Quality Test 2: Duplicate Records Check
This test checks for duplicate rows in the dataset.

In [14]:
def duplicate_records_check(df):
    duplicate_count = df.duplicated().sum()
    return duplicate_count

# Run the Duplicate Records Check
duplicate_count = duplicate_records_check(data)
print('Number of duplicate rows:', duplicate_count)

Number of duplicate rows: 0

## Data Quality Test 3: Unique Value Consistency for Categorical Columns
This test checks if categorical columns contain only expected values.

In [22]:
def unique_value_consistency(df, column, expected_values):
    if column in df.columns:
        unique_values = df[column].unique()
        unexpected_values = set(unique_values) - set(expected_values)
        return unexpected_values
    else:
        return 'Column does not exist'

# Run the Consistency Check on 'Gender' amd RaceEthnicity
unexpected_gender_values = unique_value_consistency(data, 'Gender', expected_values=['Male', 'Female', 'All'])
unexpected_race_values = unique_value_consistency(data, 'RaceEthnicity', expected_values=['White', 'Black', 'Hispanic', 'Asian', 'Other'])
print('Unexpected values in Gender:', unexpected_gender_values or 'None')

Unexpected values in Gender: {'All genders'}

## Data Quality Test 4: Data Type Validation
This test checks that columns have the expected data types.

In [31]:
def data_type_validation(df, expected_dtypes):
    mismatched_dtypes = {}
    for column, dtype in expected_dtypes.items():
        if column in df.columns and df[column].dtype != dtype:
            mismatched_dtypes[column] = df[column].dtype
    return mismatched_dtypes

# Define Expected Data Types for Key Columns
expected_dtypes = {
    'Category': 'object', 
    'Question': 'object', 
    'Response': 'object', 
    'Age': 'object', 
    'Gender': 'object', 
    'RaceEthnicity': 'object',
    'RiskFactor': 'object', 
    'RiskFactorResponse': 'object',
}


# Run the Data Type Validation
mismatched_dtypes = data_type_validation(data, expected_dtypes)
print('Columns with mismatched data types:', mismatched_dtypes)

Columns with mismatched data types: {}

## Summary of Results
This section provides a summary of findings from each test.

In [17]:
print('=== Missing Values Check ===')
print(missing_data_df)

print('\n=== Duplicate Records Check ===')
print('Number of duplicate rows:', duplicate_count)

print('\n=== Unique Value Consistency Check for Gender ===')
print('Unexpected values in Gender:', unexpected_gender_values)

print('\n=== Data Type Validation ===')
print('Columns with mismatched data types:', mismatched_dtypes)

=== Missing Values Check ===
                            Missing Values  Percent Missing
Numerator                            10320       100.000000
DataValueTypeID                      10320       100.000000
GeoLocation                          10320       100.000000
Geographic Level                     10320       100.000000
Data_Value_Footnote_Symbol            6328        61.317829
Data_Value_Footnote                   6328        61.317829
Data_Value                            3992        38.682171
Low_Confidence_limit                  3992        38.682171
High_Confidence_Limit                 3992        38.682171
Sample_Size                           1681        16.288760

=== Duplicate Records Check ===
Number of duplicate rows: 0

=== Unique Value Consistency Check for Gender ===
Unexpected values in Gender: {'All genders'}

=== Data Type Validation ===
Columns with mismatched data types: {}