In [30]:
import pandas as pd

df = pd.read_csv("data/National_Health_and_Nutrition_Examination_Survey_Vision_and_Eye_Health_Surveillance.csv")

In [31]:
df.describe()

,YearStart,YearEnd,Data_Value,Low_Confidence_limit,High_Confidence_Limit,Numerator,Sample_Size,LocationID,DataValueTypeID,GeoLocation,Geographic Level
count,10320.000000,10320.0,6328.000000,6328.000000,6328.000000,0.0,8639.000000,10320.0,0.0,0.0,0.0
mean,2001.162791,2008.0,23.670702,20.277276,27.117668,NaN,1236.882278,59.0,NaN,NaN,NaN
std,2.880952,0.0,31.245569,30.055377,32.022886,NaN,2400.059894,0.0,NaN,NaN,NaN
min,1999.000000,2008.0,0.000000,0.000000,0.000000,NaN,30.000000,59.0,NaN,NaN,NaN
25%,1999.000000,2008.0,3.400000,2.200000,4.800000,NaN,155.000000,59.0,NaN,NaN,NaN
50%,1999.000000,2008.0,10.800000,7.700000,14.100000,NaN,453.000000,59.0,NaN,NaN,NaN
75%,2005.000000,2008.0,25.000000,17.700000,33.100000,NaN,1265.500000,59.0,NaN,NaN,NaN
max,2005.000000,2008.0,100.000000,99.300000,100.000000,NaN,35090.000000,59.0,NaN,NaN,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10320 entries, 0 to 10319
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   10320 non-null  int64
 1   YearEnd                     10320 non-null  int64
 2   LocationAbbr                10320 non-null  object
 3   LocationDesc                10320 non-null  object
 4   DataSource                  10320 non-null  object
 5   Topic                       10320 non-null  object
 6   Category                    10320 non-null  object
 7   Question                    10320 non-null  object
 8   Response                    10320 non-null  object
 9   Age                         10320 non-null  object
 10  Gender                      10320 non-null  object
 11  RaceEthnicity               10320 non-null  object
 12  RiskFactor                  10320 non-null  object
 13  RiskFactorResponse          10320 non-null  object
 14  Data_Value_Unit             10320 non-null  object
 15  Data_Value_Type             10320 non-null  object
 16  Data_Value                  6328 non-null   float64
 17  Data_Value_Footnote_Symbol  3992 non-null   object
 18  Data_Value_Footnote         3992 non-null   object
 19  Low_Confidence_limit        6328 non-null   float64
 20  High_Confidence_Limit       6328 non-null   float64
 21  Numerator                   0 non-null      float64
 22  Sample_Size                 8639 non-null   float64
 23  LocationID                  10320 non-null  int64
 24  TopicID                     10320 non-null  object
 25  CategoryID                  10320 non-null  object
 26  QuestionID                  10320 non-null  object
 27  ResponseID                  10320 non-null  object
 28  DataValueTypeID             0 non-null      float64
 29  AgeID                       10320 non-null  object
 30  GenderID                    10320 non-null  object
 31  RaceEthnicityID             10320 non-null  object
 32  RiskFactorID                10320 non-null  object
 33  RiskFactorResponseID        10320 non-null  object
 34  GeoLocation                 0 non-null      float64
 35  Geographic Level            0 non-null      float64
dtypes: float64(8), int64(3), object(25)
memory usage: 2.8+ MB

In [33]:
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Category,Question,Response,Age,Gender,RaceEthnicity,RiskFactor,RiskFactorResponse,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_limit,High_Confidence_Limit,Numerator,Sample_Size,LocationID,TopicID,CategoryID,QuestionID,ResponseID,DataValueTypeID,AgeID,GenderID,RaceEthnicityID,RiskFactorID,RiskFactorResponseID,GeoLocation,Geographic Level
0,2005,2008,US,National,NHANES,Visual Function,Blind or Difficulty Seeing,Percentage of people blind in both eyes,Yes,All ages,Female,All races,Diabetes,No,%,Crude Prevalence,0.0,NaN,NaN,0.0,0.0,NaN,5800.0,59,TVFUNC,CBLIND,NHBL,RYES,NaN,AGEALL,GF,ALLRACE,RFDM,RFNO,NaN,NaN
1,1999,2008,US,National,NHANES,Visual Function,Measured Visual Acuity,Best-corrected visual acuity,Visual impairment,40-64 years,All genders,Other,Smoking,Yes,%,Crude Prevalence,0.0,NaN,NaN,0.0,0.0,NaN,155.0,59,TVFUNC,CVISAC,QVISA,RVIMP,NaN,AGE4064,GALL,OTH,RFSM,RFYES,NaN,NaN
2,1999,2008,US,National,NHANES,Visual Function,Measured Visual Acuity,Best-corrected visual acuity,US-defined blindness,12-17 years,Male,Other,Diabetes,No,%,Crude Prevalence,0.0,NaN,NaN,0.0,0.0,NaN,54.0,59,TVFUNC,CVISAC,QVISA,RVUSB,NaN,AGE1217,GM,OTH,RFDM,RFNO,NaN,NaN
3,2005,2008,US,National,NHANES,Visual Function,Blind or Difficulty Seeing,Percentage of people blind in both eyes,Yes,All ages,Female,Other,Diabetes,Yes,%,Crude Prevalence,0.0,NaN,NaN,0.0,0.0,NaN,32.0,59,TVFUNC,CBLIND,NHBL,RYES,NaN,AGEALL,GF,OTH,RFDM,RFYES,NaN,NaN
4,2005,2008,US,National,NHANES,Visual Function,Blind or Difficulty Seeing,Percentage of people blind in both eyes,Yes,18-39 years,Female,"Black, non-Hispanic",Diabetes,No,%,Crude Prevalence,0.0,NaN,NaN,0.0,0.0,NaN,476.0,59,TVFUNC,CBLIND,NHBL,RYES,NaN,AGE1839,GF,BLK,RFDM,RFNO,NaN,NaN